/* div:after {
  background: linear-gradient(45deg, #ccc 40%, #ddd 100%);
  border-radius: 50%;
  box-shadow: 0 3px 2px #999, 1px -2px 0 white, -1px -3px 2px #555,
    0 0 0 15px #c2c2c2, 0 -2px 0 15px white, -2px -5px 1px 17px #666,
    0 10px 10px 15px black(0.3), -90px -51px 1px -43px #aaa,
    -90px -50px 1px -40px #888, -90px -51px 0 -34px #ccc,
    -90px -50px 0 -30px #aaa, -90px -48px 1px -28px black(0.2),
    -124px -73px 1px -48px #eee, -125px -72px 0 -46px #666,
    -85px -73px 1px -48px #eee, -86px -72px 0 -46px #666,
    42px -82px 1px -48px #eee, 41px -81px 0 -46px #777,
    67px -73px 1px -48px #eee, 66px -72px 0 -46px #666,
    -46px -86px 1px -45px #444, -44px -87px 0 -38px #333,
    -44px -86px 0 -37px #ccc, -44px -85px 0 -34px #999,
    14px -89px 1px -48px #eee, 12px -84px 1px -48px #999,
    23px -85px 0 -47px #444, 23px -87px 0 -46px #888;
} */

#clockContainer {
  position: inherit;
  margin: auto;
  height: 32vw;
  /*to make the height and width responsive*/
  width: 32vw;
  background-size: 100%;
}

#hour,
#minute,
#second {
  position: absolute;
  background: black;
  border-radius: 10px;
  transform-origin: bottom;
}

#hour {
  width: 1.8%;
  height: 25%;
  top: 25%;
  left: 48.85%;
  opacity: 0.8;
}

#minute {
  width: 1.6%;
  height: 30%;
  top: 19%;
  left: 48.9%;
  opacity: 0.8;
}

#second {
  width: 1%;
  height: 40%;
  top: 9%;
  left: 49.25%;
  opacity: 0.8;
}

#line {
  width: 5px;
  height: 10px;
  background-color: black;
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: 0 150px;
}

.clock-number {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}

.clock-number:after {
  content: "";
  position: absolute;
  height: 13px;
  width: 3px;
  top: 13%;
  background: #000;
}

.clock-number > div {
  padding: 12px;
}
.num1 {
  transform: rotate(30deg);
}

.num1 > div {
  transform: rotate(-30deg);
}
.num2 {
  transform: rotate(60deg);
}

.num2 > div {
  transform: rotate(-60deg);
}
.num3 {
  transform: rotate(90deg);
}

.num3 > div {
  transform: rotate(-90deg);
}
.num4 {
  transform: rotate(120deg);
}

.num4 > div {
  transform: rotate(-120deg);
}
.num5 {
  transform: rotate(150deg);
}

.num5 > div {
  transform: rotate(-150deg);
}
.num6 {
  transform: rotate(180deg);
}

.num6 > div {
  transform: rotate(-180deg);
}
.num7 {
  transform: rotate(210deg);
}

.num7 > div {
  transform: rotate(-210deg);
}
.num8 {
  transform: rotate(240deg);
}

.num8 > div {
  transform: rotate(-240deg);
}
.num9 {
  transform: rotate(270deg);
}

.num9 > div {
  transform: rotate(-270deg);
}
.num10 {
  transform: rotate(300deg);
}

.num10 > div {
  transform: rotate(-300deg);
}
.num11 {
  transform: rotate(330deg);
}

.num11 > div {
  transform: rotate(-330deg);
}

.num12 {
  transform: rotate(360deg);
}

.num12 > div {
  transform: rotate(-360deg);
}
